.ContactContainer{
  background-image: url('../../Assets/Contactbg.jpg');
  height: 400px;
  background-repeat: no-repeat;
  width: 70vw;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 25px;
 }
/* /// background blurs & animation ////// */
.body {
    margin: 0;
    overflow: hidden; /* Prevents scrollbars from appearing */
    background-color: #ffffff;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: -1;
    width: 100vw;
  }

  .ball, .ball_2, .ball_3, .ball_4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(14, 84, 189, 0.1) 0%, rgba(14, 84, 189, 0.05) 70%, rgba(14, 84, 189, 0) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s linear; /* Smooth transition */
    animation: moveBall 30s infinite linear; /* Animation for continuous movement */
  }

  .ball_2 {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(14, 84, 189, 0.1) 0%, rgba(14, 84, 189, 0.05) 70%, rgba(14, 84, 189, 0) 100%);
    animation: moveSecond 30s infinite linear; /* Animation for continuous movement */
  }

  .ball_3 {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgba(29, 189, 14, 0.1) 0%, rgba(29, 189, 14, 0.05) 70%, rgba(29, 189, 14, 0) 100%);
    animation: moveThird 30s infinite linear; /* Animation for continuous movement */
  }

  .ball_4 {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgba(78, 4, 112, 0.1) 0%, rgba(78, 4, 112, 0.05) 70%, rgba(78, 4, 112, 0) 100%);
    animation: moveFourth 30s infinite linear; /* Animation for continuous movement */
  }

  @keyframes moveBall {
    0% {
      transform: translate(-50%, -50%) translate(0, 0);
    }
    25% {
      transform: translate(-50%, -50%) translate(-20vw, -30vh);
    }
    50% {
      transform: translate(-50%, -50%) translate(-50vw, -50vh);
    }
    75% {
      transform: translate(-30%, -50%) translate(-90vw, -50vh);
    }
    100% {
      transform: translate(-50%, -50%) translate(0, 0);
    }
  }

  @keyframes moveSecond {
    0% {
      transform: translate(-50%, -50%) translate(-30vw, -80vh);
    }
    25% {
      transform: translate(-50%, -50%) translate(-10vw, -30vh);
    }
    50% {
      transform: translate(-50%, -50%) translate(-20vw, -60vh);
    }
    75% {
      transform: translate(-50%, -50%) translate(-50vw, -80vh);
    }
    100% {
      transform: translate(-50%, -50%) translate(-90vw, 0);
    }
  }

  @keyframes moveThird {
    0% {
      transform: translate(-50%, -30%) translate(-30vw, -80vh);
    }
    25% {
      transform: translate(-50%, -50%) translate(-50vw, -90vh);
    }
    50% {
      transform: translate(-50%, -50%) translate(-10vw, -30vh);
    }
    75% {
      transform: translate(-50%, -30%) translate(-30vw, -60vh);
    }
    100% {
      transform: translate(-50%, -10%) translate(-90vw, -10vh);
    }
  }

  @keyframes moveFourth {
    0% {
      transform: translate(-80%, -70%) translate(-80vw, -50vh);
    }
    25% {
      transform: translate(60%, 80%) translate(-70vw, -50vh);
    }
    50% {
      transform: translate(-70%, -50%) translate(-40vw, -40vh);
    }
    75% {
      transform: translate(80%, 70%) translate(-60vw, -50vh);
    }
    100% {
      transform: translate(30%, 70%) translate(-40vw, -70vh);
    }
  }
@media screen and (max-width: 1110px) {
  .ContactContainer{
    height: 400px;
    width: 87vw;
    
  }
}
@media screen and (max-width: 768px) {
  .ContactContainer{
    height: 570px;;
    width: 90vw;
  }
  .contactContent{
    flex-direction: column!important;
  }
  .dividerBar{
    width: 90% !important;
    height: 0px!important;
  }
}